
{% if students|length %}
<table>
	<tr class='even'>
		<td colspan="8" class="right">
        <div class='message'></div>
		<strong>Found {{ students|length }} student{{ students|pluralize }}</srong>
		</td>
	</tr>

     <tr>
        <th id="stud_th">StudentID</th>
        <th id="stud_th">LastName</th>
        <th id="stud_th">FirstName</th>
        <th id="stud_th">MiddleInitial</th>
        <th id="stud_th">Sex</th>   
        <th id="stud_th">Year</th>    
        <th id="stud_th">Course</th>
        <th id="stud_th">Section</th>
    </tr>
        
    {% for e in students %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ e.student.studentID }}</td>
        <td>{{ e.student.last_name }}</td>
        <td>{{ e.student.first_name }}</td>
        <td>{{ e.student.middle_initial }}</td>
        <td>{{ e.student.sex }}</td>
        <td>{{ e.student.year }}</td>
        <td>{{ e.student.course }}</td>
        <td>{{ e.student.section }}</td>            
    </tr>
    {% endfor %}
</table>
{% else %}
	<div class="note">
        {{ message }}
	</div>
{% endif %}
